.custom_scroll_element {
    max-height: 160px;
    overflow: auto;
    margin-top: 15px;

}

.container:last-child .custom_scroll_element {
    max-height: 10px;
}

.custom_scroll_element::-webkit-scrollbar {
    width: 6px;
    
}

.custom_scroll_element::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-top: 18px;

}

.custom_scroll_element::-webkit-scrollbar-thumb {
    background-color: #fd9222;
    border-radius: 6px;
}

.custom_scroll_element::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}